/*схема сетки*/
/*    .header --> .positioner --> .content --> .column   */


.header {
	margin-bottom: 10px;
	color: white;
	background: #34495e;
}

.positioner {/* .positioner центрирующий контейнеп */
	/*border: 2px dashed #3498db;*/
	width: 430px;
	margin: 0 auto;

}
.positioner::after {/* заглушка */
	display: table;
	content: "";
	clear: both;
}
.content{ /* что бы не путатся в размерах контейнера .column */
	float: left;
	width: 130px;
	min-height: 100px;
	margin-right: 20px;
	background: antiquewhite;
}
.header .positioner .content:last-child {
	margin-right: 0;
}



.column{
	padding: 10px;
	text-align: center;
}
маргины margin-right: 10px у .column добавляются за счет дива .content в который он вложен и ширина и флоты
