рамка вокруг импута при клике
form input:focus {
    border-color: #0088cc;
}


        <form class="login" action="https://echo.htmlacademy.ru" method="post">
            <label for="login">Логин</label>
            <input type="text" id="login" name="login" required>

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password">

            <input type="submit" value="Войти">
        </form>

input[required] {
    background-color: #fcf8e3;
}

input[type="password"] {
    background-color: #f2dede;
    width: 100px;
}

input[type="submit"] {
    border-color: green;
}


	input[placeholder="yo set name"]::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.4s ease;color: rgba(0, 139, 139, 0.45)}
	input[placeholder="yo set name"]:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 1.4s ease;}


