/*.....................GRID system*/

/* Standart */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(boxsizing.htc);
}
body{
    font: 100%/1.5em arial,Helvetica,sans-serif;
    color: #000;
}

/* Flexible Fedia  */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
img{
    max-width: 100%;
    height: auto;
}

/* Fluid Grid */
.container{
    background: #e2e2e2; /* DEL */
    width: 90%;
    margin: 0 auto;
    /*font-size: 2,5em;*/
}
.container .cols{
    float: left;
    margin: 0 0 1em;
    padding: 0 1em;
    text-align: center;
    background: #cadee6; /* DEL */
}
.container .cols.col-1{width: 8.333333333% }
.container .cols.col-2{width: 16.666666667%}
.container .cols.col-3{width: 24.999999999%}
.container .cols.col-4{width: 33.333333332%}
.container .cols.col-5{width: 41.666666665%}
.container .cols.col-6{width: 49.999999998%}
.container .cols.col-7{width: 58.333333331%}
.container .cols.col-8{width: 66.666666664%}
.container .cols.col-9{width: 74.999999997%}
.container .cols.col-10{width: 83.33333333%}
.container .cols.col-11{width: 91.666666663%}
.container .cols.col-12{width: 99.999999996%}

/*.clearfix::after {
  content: "";
  display: table;
  clear: both;
  }*/

  .container::before,
  .container::after,
  .row::before,
  .row::after,
  .clear::before,
  .clear::after{
      content: "";
      display: table;
  }
  .container::after,
  .row::after,
  .clear::after{
    clear: both;
}
/*........................*/

/*...................MEDIA queries*/

/*для экрана больше 320px*/
@media screen and (min-width: 321px) {

}
@media screen and (max-width: 1000px) {
    h1{color: blue;}
    .container .cols.col-1,
    .container .cols.col-2,
    .container .cols.col-3,
    .container .cols.col-4,
    .container .cols.col-5,
    .container .cols.col-6,
    .container .cols.col-7,
    .container .cols.col-8,
    .container .cols.col-9,
    .container .cols.col-10,
    .container .cols.col-11,
    .container .cols.col-12{width: 100%}

    body::after{
        content: "heloo"
    }
}

/*........................*/
.fluid-bg{
    max-width: 100%;
    height: auto;
    background: #b2b2b2 url("../jena/01.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 0; 
}
@media screen and (max-width: 1000px) {
    .fluid-bg{
        max-width: 100%;
        height: auto;
        background: #b2b2b2 url("../jena/01.jpg") no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
    }
}